<div class="o-charges-title">
    费用信息
</div>
<div class="o-charges-detail">
    <div class="o-charges-detail-row">
        <div class="o-charges-detail-col-title">付款方式</div>
        <div class="o-charges-detail-col-title">付款时间</div>
        <div class="o-charges-detail-col-title">订单金额（元）</div>
        <div class="o-charges-detail-col-title">物流费用（元）</div>
    </div>
    <div class="o-charges-detail-row">
        <div class="o-charges-detail-col-content">{{payType}}</div>
        <div class="o-charges-detail-col-content">{{payDate}}</div>
        <div class="o-charges-detail-col-content">¥ {{totalPrice}}</div>
        <div class="o-charges-detail-col-content">¥ {{deliveryPrice}}</div>
    </div>
</div>