<div class="o-time-temp">
  {{#each recordVOs}}
  {{#if treasureLogisticsVOs}}
  <div class="o-time-task">
    <div class="o-time-line">
      <div class="o-time-line-one"></div>
    </div>
    <div class="o-time-task-content">
      <div>{{treasureLogisticsVOs.content}}</div>
      <div class="o-time-logistics">
        <div class="o-time-logistics-title">
          物流跟踪
        </div>
        <!-- bootstraps tabs code -->
        <div class='my-tabs'>
          <ul class='nav nav-tabs my-tab-header'>
            {{#each treasureLogisticsVOs.treasureLogisticsVOs}}
            {{#expressionHelper @index '===' 0}}
            <li class="active">
            {{else}}
            <li>
            {{/expressionHelper}}
              <a data-toggle='tab' href='#contracts-management-{{@index}}'>发货单{{mathHelper @index '+' 1}}</a>
            </li>
            {{/each}}
          </ul>
          <div class='tab-content'>
            {{#each treasureLogisticsVOs.treasureLogisticsVOs}}
            {{#expressionHelper @index '===' 0}}
            <div id='contracts-management-{{@index}}' class='tab-pane fade in active'>
            {{else}}
            <div id='contracts-management-{{@index}}' class='tab-pane fade'>
            {{/expressionHelper}}
                {{#each treasureLogisticsInfoVOs}}
                <div class="o-time-logistics-record">
                    <div>{{logisticsDate}}</div>
                    <div>{{logisticsInfo}}</div>
                    {{#if hasLogisticsTrack}}
                    <div><i class='iconfont icon-wuliusonghuo'>看看物流到哪儿</i></div>
                    {{/if}}
                </div>
                {{/each}}
            </div>
            {{/each}}
          </div>
        </div>
        <!--end of bootstraps tabs code -->
      </div>
    </div>
  </div>
  {{else}}
  <div class="o-time-point">
    <div class="o-time-mask">
      <span></span>
    </div>
    <div class="o-time-date">
      {{inputDate}}
    </div>
    <div class="o-time-date">
      {{content}}
    </div>
  </div>

  <div class="o-time-task">
    <div class="o-time-line">
      <div class="o-time-line-two"></div>
    </div>
  </div>
  {{/if}}
  {{/each}}
</div>
