<div class="receivables-container">
  {{#receivablesData}}
  <div class="orderManagementTable">
    {{#data}}
    <div class="order">
      <div class="order-up">
        <div>订单编号：{{this.treasureBillNo}}</div>
        <div>下单时间：{{this.treasureBillInputDate}}</div>
      </div>
      <div class="order-down">
        <div class="td-width2">{{this.payerEnterpriseName}}</div>
        <div class="td-width3">{{this.totalPrice}}</div>
        <div class="td-width3">{{this.goodsPrice}}</div>
        <div class="td-width2">{{this.deliveryPrice}}</div>
        <div class="td-width3">{{this.amountReceivable}}</div>
        <div class="td-width3">{{this.amountUnreceived}}</div>
        <div class="td-width3" style="color: #13ce66;font-weight: bold">{{this.amountReceived}}</div>
        <div class="td-width2">
          {{#hasStatus this.status}}
          <button type="button" class="vertificate" data-toggle="modal" data-target="#exampleModal" data-backdrop='static' data-id={{treasureReceivableId}}
            data-index={{@key}}>核销</button> {{/hasStatus}}
        </div>
        <div class="td-width2"><a href="../orderdetail/index.html?id={{treasureBillId}}">查看订单</a></div>
      </div>
    </div>
    {{/data}}

  </div>
  {{/receivablesData}}
</div>
