{{#> dialog}}
<div class="iconfont icon-qianshou checkImg"></div>
<div class="words">确认收到货，本次交易成功</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary sure-btn">{{positive}}</button>
    <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">{{negative}}</button>
</div>
{{/dialog}}
