<!--a handlebars template for a logistic order-->
<div class='comp-lo-order'>
  <div class='comp-lo-order-header'>
    {{#if purchaseFlag}}
    <div class="purchase fn-left">集采</div>
    {{/if}}
    <div class='comp-lo-basic-info f-clearfix'>
      <div class="left-info fn-left">
        <span>订单号：</span>
        <span>{{treasureBillNo}}</span>
        <span>下单时间：</span>
        <span>{{inputDate}}</span>
      </div>
      {{#if salesMan}}
      <div class='fn-right'>
        <span class='iconfont icon-lianxiren'></span>
        <span>{{salesMan}}</span>
        <span>{{salesContact}}</span>
      </div>
      {{/if}}
    </div>
  </div>
  <div class='comp-lo-order-body'>
    <div class='name'>
      <span>{{itemName}}</span>
      <!-- <span>{{order.buyer.address}}</span> -->
    </div>
    <div class='price'>
      <span>{{itemPrice}}</span>
    </div>
    <div class='number'>
      <span>{{itemCount}}</span>
    </div>
    <div class='totalprice'>
      <span>{{totalPrice}}</span>
    </div>
    <div class="freight">
      <span>{{deliveryType}}</span>
      {{#statusHelper deliveryType '配送'}}
      <br>
      <span>{{deliveryPrice}}&nbsp;
      {{#statusHelper status '待确认'}}
      {{#expressionHelper deliveryPrice '<=' 0}}
      <i class="iconfont icon-bianji order-edit-wuliu"></i></span>
      {{/expressionHelper}}
      {{/statusHelper}}
      {{/statusHelper}}
    </div>
    <div class='paytype'>
      <span class="red">{{payType}}</span>
      <br>
      {{#statusHelper payStatus '待支付'}}
      <span class="red">{{payStatus}}</span>
      {{else}}
      <span class="red">已付￥{{totalPrice}}</span>
      {{/statusHelper}}
    </div>
    <div class='suppler address'>
      <span>{{buyerPartyName}}</span><br>
      <span>{{buyerDeliveryName}}&nbsp;{{buyerContact}}</span><br>
      <span>{{buyerDeliveryProvince}}{{buyerDeliveryCity}}{{buyerDeliveryRegion}}</span><br>
    </div>
    <div class='orderstatus'>
      <span class="red">
      {{#if purchaseFlag}}
      {{purchaseStatus}}
      {{else}}
      {{status}}
      {{/if}}
      </span> 
    </div>
      {{#if purchaseFlag}}
      {{#statusHelper purchaseStatus '集采成功'}}
      <div class='operations'>
        <!-- 待确认 -->
        {{#statusHelper status '待确认'}}
        <button type="button" class="order-operation-btn  btn-bg-blue order-confirm" data-id={{treasureBillId}}>订单确认</button>
        {{#if salesMan}}  
        {{else}}
        <button type="button" class="order-operation-btn order-fenpei" data-id={{treasureBillId}}>分配业务员</button>
        {{/if}}  
        {{#statusHelper payStatus '待支付'}}
        <a class="order-confirm-receipt" data-id={{treasureBillId}}  href='#'>确认收款</a>
        <br>
        {{/statusHelper}}
        <a  href="/mpa/orderdetail/index.html?id={{treasureBillId}}" target="_blank">查看订单</a>
        <br>
        <a class="closeOrder" data-toggle="modal" data-id={{treasureBillId}}>取消订单</a>
        {{/statusHelper}} 
        <!-- 待发货 -->
        {{#statusHelper status '待发货'}}
        <button type="button" class="order-operation-btn btn-default-width  send-bill-to-oms" data-id={{treasureBillId}}>安排发货</button>
        <a  href="/mpa/orderdetail/index.html?id={{treasureBillId}}" target="_blank">查看订单</a>
        {{/statusHelper}}
        <!-- 待提货 -->
        {{#statusHelper status '待提货'}}
        <button type="button" class="order-operation-btn btn-default-width pick-up-goods" data-id={{treasureBillId}}>买家已提货</button><br>
        <a  href="/mpa/orderdetail/index.html?id={{treasureBillId}}" target="_blank">查看订单</a>
        {{/statusHelper}} 
        <!-- 待确认收货 -->
        {{#statusHelper status '待确认收货'}}
        {{#statusHelper deliveryType '配送'}}
        <a class="logisticTrack" data-target="#logisticTrack" data-id={{treasureBillId}} data-companyid={{treasureEnterpriseId}}>物流跟踪</a>
        <br>
        {{/statusHelper}}
        <a  href="/mpa/orderdetail/index.html?id={{treasureBillId}}" target="_blank">查看订单</a>
        {{/statusHelper}}
        <!-- 交易完成 -->
        {{#statusHelper status '交易完成'}}
        {{#statusHelper deliveryType '配送'}}
        <a class="logisticTrack" data-target="#logisticTrack" data-id={{treasureBillId}} data-companyid={{treasureEnterpriseId}}>物流跟踪</a>
        <br>
        {{/statusHelper}}    
        <a  href="/mpa/orderdetail/index.html?id={{treasureBillId}}" target="_blank">查看订单</a>
        {{/statusHelper}}
      </div>
      {{else}}
      <div class='operations'>
        <!-- <a href='#'>查看集采进度</a> -->
      </div>
      {{/statusHelper}}
      {{else}}
      <div class='operations'>
        <!-- 待确认 -->
        {{#statusHelper status '待确认'}}
        <button type="button" class="order-operation-btn  btn-bg-blue order-confirm" data-id={{treasureBillId}}>订单确认</button>
        {{#if salesMan}}  
        {{else}}
        <button type="button" class="order-operation-btn order-fenpei" data-id={{treasureBillId}}>分配业务员</button>
        {{/if}}  
        {{#statusHelper payStatus '待支付'}}
        <a class="order-confirm-receipt" data-id={{treasureBillId}}  href='#'>确认收款</a>
        <br>
        {{/statusHelper}}
        <a  href="/mpa/orderdetail/index.html?id={{treasureBillId}}" target="_blank">查看订单</a>
        <br>
        <a class="closeOrder" data-toggle="modal" data-id={{treasureBillId}}>取消订单</a>
        {{/statusHelper}} 
        <!-- 待发货 -->
        {{#statusHelper status '待发货'}}
        <button type="button" class="order-operation-btn btn-default-width  send-bill-to-oms" data-id={{treasureBillId}}>安排发货</button>
        <a  href="/mpa/orderdetail/index.html?id={{treasureBillId}}" target="_blank">查看订单</a>
        {{/statusHelper}}
        <!-- 待提货 -->
        {{#statusHelper status '待提货'}}
        <button type="button" class="order-operation-btn btn-default-width pick-up-goods" data-id={{treasureBillId}}>买家已提货</button><br>
        <a  href="/mpa/orderdetail/index.html?id={{treasureBillId}}" target="_blank">查看订单</a>
        {{/statusHelper}} 
        <!-- 待确认收货 -->
        {{#statusHelper status '待确认收货'}}
        {{#statusHelper deliveryType '配送'}}
        <a class="logisticTrack" data-target="#logisticTrack" data-id={{treasureBillId}} data-companyid={{treasureEnterpriseId}}>物流跟踪</a>
        <br>
        {{/statusHelper}}
        <a  href="/mpa/orderdetail/index.html?id={{treasureBillId}}" target="_blank">查看订单</a>
        {{/statusHelper}}
        <!-- 交易完成 -->
        {{#statusHelper status '交易完成'}}
        {{#statusHelper deliveryType '配送'}}
        <a class="logisticTrack" data-target="#logisticTrack" data-id={{treasureBillId}} data-companyid={{treasureEnterpriseId}}>物流跟踪</a>
        <br>
        {{/statusHelper}}    
        <a  href="/mpa/orderdetail/index.html?id={{treasureBillId}}" target="_blank">查看订单</a>
        {{/statusHelper}}
      </div>
    {{/if}}
    <div class='elecontract'>
      {{#if purchaseFlag}}
      {{else}}
      {{#statusHelper status '待确认'}}
      {{#if treasureContractInstanceId}}
        {{#statusHelper treasureContractInstanceStatus '已创建'}}
        <button type="button" class="order-operation-btn set-contract-template" style="width: 90px" data-id={{treasureBillId}}>合同签章</button> 
        {{/statusHelper}}
      {{else}}
      <button type="button" class="order-operation-btn set-contract-template" style="width: 90px" data-id={{treasureBillId}}>设置合同模板</button>      
      {{/if}}
      {{else}}
        {{#statusHelper treasureContractInstanceStatus '已生效'}}
        <a href='#'>查看合同</a>
        {{/statusHelper}}
      {{/statusHelper}}
      {{/if}}
    </div>
  </div>
  {{#statusHelper deliveryType '配送'}}
    <div class="comp-lo-order-footer">
      <span>运费：</span>
      <input class="delivery-price" value=""/>
      <span>元</span>
      <button type="button" class="operation-btn btn-width btn-bg-blue confirm-edit-wuliu" style="margin-left: 38px" 
        data-backdrop="static" data-id={{treasureBillId}}>确认</button>
      <button type="button" class="operation-btn btn-width cancel-edit-wuliu">取消</button>
    </div>
  {{/statusHelper}}
  {{#statusHelper status '待确认'}}
    <div class="comp-lo-order-sales-man-footer ">
      <span>请选择业务员：</span>
      <input class="sales-man-name" value=""/>
      <span>电话：</span>
      <input class="sales-man-mobile" value=""/>
      <button type="button" class="operation-btn btn-width btn-bg-blue confirm-select-sale-man" style="margin-left: 38px" data-backdrop="static" data-id={{treasureBillId}}>确认</button>
      <button type="button" class="operation-btn btn-width cancel-select-sale-man">取消</button>
    </div>
  {{/statusHelper}}
</div>