.app-page {
  background-color: #f5f5f5;
}

.banner {
  background-color: white;
}

.app-body {
  width: 1190px;
  height: 100px;
  position: relative;
  margin: 20px auto 0px;
}

.app-menu {

}

.app-footer {

}
