.order-list {}

.comp-lo-order {
    margin: 10px;
    border: solid 1px #dddddd;
    font-size: 12px;
    /*padding: 5px 0 5px 5px;*/
}

.comp-lo-basic-info {
    background-color: #F4F4F4F4;
    height: 45px;
    line-height: 45px;
    padding-left: 2%;
    font-size: 12px;
}

.comp-lo-basic-info div {
    line-height: 45px;
    margin-right: 10px;
}

.comp-lo-basic-info span {
    font-size: 12px;
    color: #666666
}

.comp-lo-order-body {
    display: flex;
    font-size: 12px;
    /* padding:  10px; */
}

.comp-lo-order-body div {
    text-align: center;
    line-height: 30px;
    padding: 10px 0;
    font-size: 12px;
}

.comp-lo-order-body span {
    font-size: 12px;
    color: #333333;
}

.content {
    width: 970px;
    margin-left: 250px;
    background-color: white;
}

.title {
    font-weight: bold;
    font-size: 14px;
    padding: 20px 0px 10px 30px;
}

.hr {
    border-top: 1px solid #EEEEEE;
    margin: 10px;
}

.list-header {
    /* margin-left: 5%; */
    margin: 10px;
    display: flex;
}

.list-title {
    float: left;
    text-align: center;
    font-size: 12px;
}

.statistic {
    /* width: 10%; */
    font-size: 14px;
    margin-left: 2%;
    cursor: pointer;
}

.current {
    color: #f10214;
    line-height: 20px;
    border-bottom: 1px solid #f10214;
}

.app-body .red {
    color: #f10214;
}

.name {
    width: 14%
}

.price {
    width: 10%
}

.number {
    width: 10%
}

.totalprice {
    width: 12%
}

.paytype {
    width: 10%
}

.suppler {
    width: 14%
}

.orderstatus {
    width: 10%
}

.operations {
    width: 10%
}

.elecontract {
    width: 10%
}

.operation-btn:hover {
    color: #4565f7;
    border: 1px solid #4565f7;
}

.btnclick {
    color: #ffffff;
    background: #4565f7;
}

.checkImg {
    font-size: 56px;
    text-align: center;
    color: #bcbcbc;
}

.words {
    text-align: center;
    color: #666666;
}

.style-set {
    width: 448px;
    height: 100px;
}

.contant {
    margin: 30px;
    font-size: 12px;
    color: #333333;
}

.contant span {
    vertical-align: top;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.styleSize {
    text-align: center;
}

.purchase {
    width: 47px;
    height: 24px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #e93938;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    font-size: 13px;
    margin-top: 12px;
    margin-right: 20px;
}

.errorMsg {
    display: none;
    color: red;
    margin-top: 10px;
}

.o-time-logistics-record {
    display: flex;
    flex-direction: row;
    color: #999999;
    line-height: 30px;
    font-size: 12px;
    margin-top: 12px;
}
.o-time-logistics-record div{
  margin-right: 5px;
}
