{{#> dialog}}
<div class="contant">
  <span >说明：</span><textarea class="style-set explain" maxlength="350"></textarea><br>
  <span class="red fm-left">最多输入350个字</span><br>
  <span class="errorMsg">{{message}}</span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary sure-btn" data-id={{orderId}}>{{positive}}</button>
    <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">{{negative}}</button>
</div>
{{/dialog}}
