<!--a handlebars template for a logistic order-->
<div class='comp-lo-order'>
  <div class='comp-lo-order-header'>
    {{#if purchaseFlag}}
    <div class="purchase fn-left">集采</div>
    {{/if}}
    <div class='comp-lo-basic-info f-clearfix'>
      <div class='fn-left'>
        <span>订单号：</span>
        <span>{{treasureBillNo}}</span>
        <span>下单时间：</span>
        <span>{{inputDate}}</span>
      </div>
      {{#if salesMan}}
      <div class='fn-right'>
        <span class='iconfont icon-lianxiren'></span>
        <span>{{salesMan}}</span>
        <span>{{salesContact}}</span>
      </div>
      {{/if}}
    </div>
  </div>
  <div class='comp-lo-order-body'>
    <div class='name'>
      <span>{{itemName}}</span>
    </div>
    <div class='price'>
      <span>{{itemPrice}}</span>
    </div>
    <div class='number'>
      <span>{{itemCount}}</span>
    </div>
    <div class='totalprice'>
      <span>{{totalPrice}}</span>
      <br>
      <span>(含运费: {{#if deliveryPrice}}
        <span class="red">计算中</span>
        {{else}}
        <span class="red">{{deliveryPrice}}</span>
        {{/if}} )
      </span>
    </div>
    <div class='paytype'>
      <span>{{payType}}</span>
      <br>
      <span class="red">{{payStatus}}</span>
    </div>
    <div class='suppler'>
      <span>{{enterpriseName}}</span>
    </div>
    <div class='orderstatus'>
      {{#if purchaseFlag}} {{#purcaseStatusHelper purchaseStatus '集采成功'}}
      <span class="red">待确认</span>
      {{else}}
      <span class="red">{{purchaseStatus}}</span>
      {{/purcaseStatusHelper}}

      <br> {{#purcaseStatusHelper status '交易关闭'}}
      <span>集采未达标</span>
      {{/purcaseStatusHelper}} {{else}}
      <span class="red">{{status}}</span>
      {{/if}}
    </div>
    {{#if purchaseFlag}} {{#purcaseStatusHelper purchaseStatus '集采成功'}}
    <div class='operations'>
      <a href='../orderdetail/index.html?id={{treasureBillId}}'>查看订单</a>
      <br>
      <a href='#closeOrder' class="closeOrder" data-toggle="modal" data-id={{treasureBillId}} data-backdrop='static'>取消订单</a>
    </div>
    {{/purcaseStatusHelper}} {{else}} {{#purcaseStatusHelper status '待确认'}}
    <div class='operations'>
      <a href='../orderdetail/index.html?id={{treasureBillId}}'>查看订单</a>
      <br>
      <a href='#closeOrder' class="closeOrder" data-toggle="modal" data-id={{treasureBillId}} data-backdrop='static'>取消订单</a>
    </div>
    {{/purcaseStatusHelper}}{{/if}} {{#purcaseStatusHelper status '待发货'}}
    <div class='operations'>
      <a href='../orderdetail/index.html?id={{treasureBillId}}'>查看订单</a>
    </div>
    {{/purcaseStatusHelper}} {{#purcaseStatusHelper status '待提货'}}
    <div class='operations'>
      <a href='../orderdetail/index.html?id={{treasureBillId}}'>查看订单</a>
    </div>
    {{/purcaseStatusHelper}} {{#purcaseStatusHelper status '待确认收货'}}
    <div class='operations'>
      <button type="button" class="operation-btn checkBtn" data-toggle="modal" data-target="#checkOrder" data-backdrop="static"
        data-id={{treasureBillId}} data-index={{@key}} data-backdrop='static'>确认收货</button>
      <br>
      <a href='../orderdetail/index.html?id={{treasureBillId}}'>查看订单</a>
      <br>
      <a class="logisticTrack" data-toggle="modal" data-id={{treasureBillId}} data-target="#logisticTrack" data-companyid={{treasureEnterpriseId}}
        data-backdrop='static'>物流跟踪</a>
    </div>
    {{/purcaseStatusHelper}} {{#purcaseStatusHelper status '交易完成'}}
    <div class='operations'>
      <a href='../orderdetail/index.html?id={{treasureBillId}}'>查看订单</a>
      <br>
      <a class="logisticTrack" data-toggle="modal" data-target="#logisticTrack" data-id={{treasureBillId}} data-companyid={{treasureEnterpriseId}}
        data-backdrop='static'>物流跟踪</a>
    </div>
    {{/purcaseStatusHelper}}
    <div class='elecontract'>
      {{#purcaseStatusHelper treasureContractInstanceStatus '待签章'}}
      <button type="button" class="operation-btn" data-toggle="modal" data-target="#exampleModal" data-backdrop="static" data-id={{id}}
        data-index={{@key}}>在线签章</button>
      {{/purcaseStatusHelper}} {{#purcaseStatusHelper treasureContractInstanceStatus '已生效'}}
      <a href='#'>查看合同</a>
      {{/purcaseStatusHelper}}
    </div>
  </div>
</div>
