<div class='list-header'>
  <span class='list-title statistic statusSelect  current'>全部</span>
  <span class='list-title statistic statusSelect'>待支付</span>&nbsp&nbsp<span class="red">{{orderPayStay}}</span>
  <span class='list-title statistic statusSelect'>待确认收货</span>&nbsp&nbsp<span class="red">{{orderCheckStay}}</span>
</div>
