/*@import url("../../../node_modules/bootstrap/dist/css/bootstrap.css");*/

@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin: 0.2em;
}

.sliders {
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: grey;
}

.slider {
  width: 80%;
  margin: auto;
}
