/*@import url("../../../node_modules/bootstrap/dist/css/bootstrap.css");*/

@import "~bootstrap/dist/css/bootstrap.css";

html {
  font-size: 100%; /* 16px by default */
}

body {
  margin: 0.2rem;
}

.header {
  display: inline-block;
}

.sliders {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: grey;
}

.slider {
  width: 80%;
  margin: auto;
}
