.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.c-toper {
  background-color: #696969;
  padding-left: 10rem;
  color: #FFFFFF;
}

.c-toper a {
  color: #FFFFFF;
  font-size: 1rem;
  float: right;
  padding-right: 1rem;
}

.c-toper:last-child {
  padding-right: 10rem;
}
