.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.c-toper {
  background-color: #0f2a3c;
  padding: 0 2%;
  color: #FFFFFF;
}

.c-toper a {
  color: #FFFFFF;
  font-size: 1rem;
  padding-left: 1rem;
}

.c-links {
  display: none;
}

.c-message {
  text-align: center;
}

@media(min-width: 700px) and (orientation: landscape) {
  .c-message {
    text-align: left;
  }

  .c-links {
    display: inline;
    float: right;
  }
}

@media(min-width: 800px) {
  .c-toper-content {
    padding: 0 10rem;
  }
}
