.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.c-toper {
  background-color: #696969;
  padding: 0 10rem;
  color: #FFFFFF;
}

.c-toper a {
  color: #FFFFFF;
  font-size: 1rem;
  /*float: right;*/
  padding-left: 1rem;
}

.c-links {
  float: right;
}
