<div class='c-toper'>
  <div class='c-toper-content'>
    <span class='c-message'>{{message}}</span>
    <div class='c-links'>
      {{#each topers}}
      <a href={{url}}>{{name}}</a>
      {{/each}}
    </div>
  </div>
</div>
