.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.c-logo-div {
  padding-left: 1rem;
}

.c-logo-div h1 {
  font-size: 1rem;
}

.c-logo {
  display: none;
}

.c-header {
  display: inline;
}

@media(min-width: 380px) {
  .c-logo {
    display: inline;
    height: 8rem;
    width: auto;
  }
}

