.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.c-logo {
  display: none;
}

.c-name {
  width: 100%;
}

@media(min-width: 380px) {
  .c-header {
    display: inline;
  }

  .c-name {
    width: 70%;
    max-height: 60px;
  }

  .c-logo {
    display: inline;
    max-height: 60px;
    width: 20%;
  }

}

