.order-list {}

.comp-lo-order {
    margin: 10px;
    border: solid 1px #dddddd;
    font-size: 12px;
    /*padding: 5px 0 5px 5px;*/
}

.comp-lo-basic-info {
    background-color: #F4F4F4F4;
    height: 45px;
    line-height: 45px;
    padding-left: 2%;
    font-size: 12px;
}

.comp-lo-basic-info div {
    line-height: 45px;
    margin-right: 10px;
}

.comp-lo-basic-info .right-info {
    margin-right: 22px;
}

.comp-lo-basic-info span {
    font-size: 12px;
    color: #666666
}

.comp-lo-order-body {
    display: flex;
    font-size: 12px;
    /* padding:  10px; */
}

.comp-lo-order-body div {
    text-align: center;
    line-height: 30px;
    padding: 10px 0;
    font-size: 12px;
}

.comp-lo-order-body span {
    font-size: 12px;
    color: #333333;
}

.comp-lo-order-footer {
    padding: 8px 14px 8px 591px;
    background: #F4F4F4;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.comp-lo-order-footer>span {
    line-height: 30px;
}

.comp-lo-order-footer>input {
    width: 90px;
}

.comp-lo-order-sales-man-footer {
    padding: 8px 14px 8px 370px;
    background: #F4F4F4;
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.comp-lo-order-sales-man-footer>span {
    line-height: 30px;
}

.comp-lo-order-sales-man-footer>input {
    width: 90px;
}

.btn-bg-blue {
    background: #4565F7!important;
    color: white!important;
}

.btn-bg-blue:hover {
    color: white!important;
}

.content {
    width: 970px;
    margin-left: 250px;
    background-color: white;
}

.title {
    font-weight: bold;
    font-size: 14px;
    padding: 20px 0px 10px 30px;
}

.hr {
    border-top: 1px solid #EEEEEE;
    margin: 10px;
}

.list-header {
    /* margin-left: 5%; */
    margin: 10px;
    display: flex;
}

.list-title {
    float: left;
    text-align: center;
    font-size: 12px;
}

.statistic {
    /* width: 10%; */
    font-size: 14px;
    margin-left: 2%;
    cursor: pointer;
}

.current {
    color: #f10214;
    line-height: 20px;
    border-bottom: 1px solid #f10214;
}

.app-body .red {
    color: #f10214;
}

.red {
    color: #f10214;
}

.name {
    width: 10%;
}

.name>span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.price {
    width: 8%
}

.number {
    width: 7%
}

.totalprice {
    width: 10%
}

.freight {
    width: 10%
}

.paytype {
    width: 10%
}

.suppler {
    width: 15%
}

.suppler.address {
    text-align: left!important;
}

.orderstatus {
    width: 10%
}

.operations {
    width: 10%
}

.operations>.order-confirm {
    width: 80px;
}

.btn-default-width {
    width: 80px;
}

.operations>.order-fenpei {
    width: 80px;
    font-size: 12px;
}

.operations>a {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 22px;
}

.elecontract {
    width: 10%
}

.order-operation-btn {
    background: #fff;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    border: 1px solid #ccc;
}

.order-operation-btn:hover {
    color: #4565f7;
    border: 1px solid #4565f7;
}

.operation-btn:hover {
    color: #4565f7;
    border: 1px solid #4565f7;
}

.btn-width {
    width: 60px!important;
    height: 30px;
}

.btnclick {
    color: #ffffff;
    background: #4565f7;
}

.checkImg {
    font-size: 56px;
    text-align: center;
    color: #bcbcbc;
}

.words {
    text-align: center;
    color: #666666;
}

.order-pagination .pagination {
    float: right;
    margin-right: 10px;
}

a {
    cursor: pointer;
}

.o-time-logistics-record {
    /* display: flex;
    flex-direction: row; */
    color: #999999;
    line-height: 30px;
    font-size: 12px;
    margin-top: 12px;
}

.o-time-logistics-record div {
    margin-right: 5px;
}

.purchase {
    width: 47px;
    height: 24px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #e93938;
    color: #ffffff;
    text-align: center;
    line-height: 24px;
    font-size: 13px;
    margin-top: 12px;
    margin-right: 20px;
}

.style-set {
    width: 448px;
    height: 100px;
}

.contant {
    margin: 30px;
    font-size: 12px;
    color: #333333;
}

.contant span {
    vertical-align: top;
}

.fn-left {
    float: left;
}

.fn-right {
    float: right;
}

.errorMsg {
    display: none;
    color: red;
    margin-top: 10px;
}

.styleSize {
    text-align: center;
}
.comp-dialog-salesign .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.comp-dialog-salesign .modal-dialog {
    width: 800px;
}

.comp-dialog-salesign .modal-body {
    background: #EFEFEF;
}

.comp-dialog-salesign .modal-body #contract-content {
    border: 1px dashed #D9D9D9;
    background: #fff;
    height: 400px;
    overflow-y: auto;
}

.contract-content {
    position: relative;
}

.contract-stamp {
    position: absolute;
    font-size: 70px!important;
    color: red;
}

.fm-left {
    margin-left: 40px;
}
