{{#> dialog}}
<div class='name-area'>
  <span>名称: </span><input type='textbox' id='tbx-name' />
</div>
<div class='contract-editor' id='contract-content'></div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal" id='btn-editor-cancel'>{{negative}}</button>
  <button type="button" class="btn btn-primary" data-dismiss="modal" id='btn-editor-save' click=saveEditor>{{positive}}</button>
</div>
{{/dialog}}
  