<hr>
<div class='list-header'>
  <label class='list-title template-name'>模板名称</label>
  <label class='list-title template-creator'>创建人</label>
  <label class='list-title upload-date'>上传时间</label>
  <label class='list-title operations'>操作</label>
</div>
<hr>
{{#templateList}}
  {{> contractTemplate}}
{{/templateList}}
