<!--a handlebars template for a logistic order-->
<div class='comp-lo-order'>
  <div class='comp-lo-order-header'>
    <div class='comp-lo-basic-info'>
      <span>订单号：</span>
      <span>{{order.number}}</span>
      <span>下单时间：</span>
      <span>{{order.orderDateTime}}</span>
    </div>
  </div>
  <div class='comp-lo-order-body'>
    <div>
      <span>买家姓名</span><span>{{order.buyer.name}}</span>
      <span>{{order.buyer.address}}</span>
    </div>
    <div>
      <span>{{order.deliver}}</span>
    </div>
    <div>
      <span>{{order.origin}}</span>
    </div>
    <div>
      <span>{{order.currentStatus}}</span>
    </div>
    <div>
      <a href='#'>查看订单</a><br>
      <a href='#'>物流跟踪</a>
    </div>
  </div>
</div>

