<div class='list-header'>
  <span class='list-title statistic'>全部({{statusAll}})</span>
  <span class='list-title statistic'>待受理({{status1}})</span>
  <span class='list-title statistic'>配送中({{status2}})</span>
  <span class='list-title statistic'>已签收({{status3}})</span>
</div>