<div class='list-header'>
  <span class='list-title statistic statusSelect current'>全部</span>
  <span class='list-title statistic statusSelect'>待受理</span>&nbsp&nbsp<span class="red">{{status1}}</span>
  <span class='list-title statistic statusSelect'>配送中</span>&nbsp&nbsp<span class="red">{{status2}}</span>
  <span class='list-title statistic statusSelect'>已签收</span>&nbsp&nbsp<span class="red">{{status3}}</span>
</div>
