@import './reset.less';
.clearfix() {
    zoom: 1;
    &:before,
    &:after {
        display: table;
        content: " ";
    }
    &:after {
        clear: both;
    }
}

.o-breadcrumb {
    font-size: 12px;
    &>span:first-child {
        color: #999999;
    }
    &>span:nth-child(2) {
        color: #151515;
    }
}

.o-step {
    margin-top: 15px;
    width: 100%;
    height: 266px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    .o-step-title {
        margin: 30px 0 0 33px;
        font-family: MicrosoftYaHei-Bold;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 19px;
        &>span:first-child {
            font-weight: bolder;
            color: #333333;
        }
        &>span:nth-child(2) {
            color: #151515;
        }
    }
    .o-step-content {
        margin: 45.4px 179px 0 180px;
    }
}

.o-content {
    position: relative;
    margin: 20px 0 10px 0;
    width: 1190px;
    border: 1px solid #cccccc;
    background: white;
    .o-left-box {
        min-height: 508px - 60px;
        .o-left-box-title {
            margin: 19px 0 0 33px;
            font-size: 14px;
            color: #b9b9b9;
            letter-spacing: 0;
            line-height: 30px;
            .o-bolder {
                font-weight: bolder;
                color: #333333;
            }
        }
    }
    .o-right-box {
        position: absolute;
        top: 0;
        right: 0;
        width: 340px;
        height: 528px;
        border-left: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        .o-right-title {
            margin: 30px 0 7px 40px;
            font-size: 14px;
            color: #333333;
            line-height: 19px;
            font-weight: bolder;
        }
        .o-right-order-detail {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            color: #666666;
            letter-spacing: 0;
            line-height: 20px;
            .o-right-order-detail-title {
                width: 100px;
                text-align: right;
            }
            .o-right-order-detail-address {
                width: 108px;
            }
        }
        .o-line-30 {
            line-height: 30px!important;
        }
    }
    .o-charges {
        .o-charges-title {
            margin: 83px 0 0 33px;
            font-size: 14px;
            color: #333333;
            line-height: 19px;
            font-weight: bolder;
        }
        .o-charges-detail {
            width: 100%;
            padding: 5px 40px 47px 30px;
            .o-charges-detail-row {
                display: flex;
                flex-direction: row;
                text-align: center;
                border: 1px solid #EEEEEE;
                .o-charges-detail-col-title {
                    flex: 1;
                    background: #F4F4F4;
                    line-height: 40px;
                }
                .o-charges-detail-col-content {
                    flex: 1;
                    background: #FFFFFF;
                    line-height: 62px;
                }
            }
        }
    }
    .o-goods-detail {
        padding: 34px 18px 36px 14px;
        font-family: MicrosoftYaHei;
        .o-order-detail-row {
            display: flex;
            flex-direction: row;
            text-align: center;
            font-size: 12px;
            color: #333333;
            .o-order-detail-col-title {
                flex: 1;
                line-height: 40px;
            }
            .o-order-detail-col-content {
                flex: 1;
                background: #F4F4F4;
                line-height: 110px;
                & img {
                    width: 90px;
                    height: 90px;
                }
            }
        }
        .o-top-bottom-border {
            border-top: 1px solid #EEEEEE;
            border-bottom: 1px solid #EEEEEE;
        }
    }
}

.o-time-temp {
    margin: 42px 0 0 101px - 18px;
    @time-width : 5px;
    font-size: 12px;
    color: #333333;
    letter-spacing: 0;
    .o-time-point {
        display: flex;
        flex-direction: row;
        align-items: center;
        .o-time-mask {
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            & span {
                width: @time-width;
                height: @time-width;
                border-radius: 50%;
                background: #DFDFDF;
            }
        }
        .o-time-date {
            margin-right: 17px;
            line-height: 16px;
        }
    }
    .o-time-task {
        display: flex;
        flex-direction: row;
        .o-time-line {
            width: 36px;
            display: flex;
            justify-content: center;
            align-items: center;
            & div {
                width: 1px;
                background: #D8D8D8;
            }
            .o-time-line-one {
                height: 288px;
            }
            .o-time-line-two {
                height: 18px;
            }
        }
        .o-time-task-content {
            line-height: 16px;
            .o-time-logistics {
                margin-top: 30px;
                .o-time-logistics-title {
                    margin-bottom: 10px;
                    font-size: 12px;
                    font-weight: bolder;
                }
                .o-time-logistics-record {
                    display: flex;
                    flex-direction: row;
                    color: #999999;
                    line-height: 30px;
                    & div {
                        margin-right: 17px;
                    }
                }
            }
        }
    }
    &>.o-time-task:last-child {
        .o-time-line {
            .o-time-line-two {
                height: 0px!important;
            }
        }
    }
}
