{{#> dialog}}
<!-- dialog body -->
<span>Anything contents here.</span>
<div>{{name}}</div>
<button id='my-btn' class='btn btn-primary'>Dare you click me?</button>
<!-- end of dialog body -->
<!-- dialog footer -->
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-dismiss="modal">{{negative}}</button>
  <button type="button" class="btn btn-primary" data-dismiss="modal">{{positive}}</button>
</div>
<!-- end of dialog footer-->
{{/dialog}}
